/* scss/readme/_settings.scss */
/* scss/readme/_sidebars.scss */
/* scss/atoms/_button.scss */
.button {
  background-color: red; }

/* scss/atoms/_icon-with-text.scss */
a.iwt {
  background: pink;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px; }

a.iwt:hover {
  background: blue;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px; }
