<!-- components/base/basestyles.twig -->

<!-- rounded labels -->
<div class="big">Welcomes Here!</div>
<div class="h2">Please change the Theme variables like colors, font size to build the <b>Site CSS</b> </div>