<!-- components/molecules/accessibilitybar.twig -->

<div class="accessibilitybar dropdown">
  <a class="btn btn-link dropdown-toggle" tabindex="0">
    dropdown menu <i class="icon icon-caret"></i>
  </a>
  <!-- menu component -->
  <ul class="menu">
    <li class="menu-item"><a href="#dropdowns">Slack</a></li>
    <li class="menu-item"><a href="#dropdowns">Hipchat</a></li>
    <li class="menu-item"><a href="#dropdowns">Skype</a></li>
  </ul>
</div>