<!-- components/molecules/brandinfo.twig -->

<div class="brandinfo ministry">
    <a href="">भारत सरकार</a>
    <a href="">Government of India</a>
</div>

<br><br><br>

<div class="brandinfo department">
    <a href="">
        <span>भारत सरकार</span>
        <span>Government of India</span>
    </a>
    <a href="">
        <span>जल संसाधन, नदी विकास और गंगा संरक्षण मंत्रालय</span>
        <span>Ministry of Water Resources, River Development and Ganga Rejuvenation</span>
    </a>
</div>
