<!-- components/molecules/ministercard.twig -->
<div class="profile">
    <div class="profile-img">
        <img class="img-responsive" src="https://mha.gov.in/sites/default/files/rajnath-singh.jpg" alt="macOS Yosemite Wallpaper">
    </div>
    <div class="profile-header">
        <div class="profile-title h5">Shri Rajnath Singh</div>
        <div class="profile-designation">Hon'ble Union Mnister</div>
    </div>
    
    <div class="profile-page-link"><a href="">Visit Page</a></div>
    <div class="profile-social-link">
        <div class="">
            <a href="" class="btn btn-sm btn-action">
                <svg class="feather">
                  <use xlink:href="assets/feather-sprite.svg#facebook"/>
                </svg>
            </a>
            <a href="" class="btn btn-sm btn-action">
                <svg class="feather">
                  <use xlink:href="assets/feather-sprite.svg#twitter"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="profile">
    <div class="profile-img">
        <img class="img-responsive" src="https://mha.gov.in/sites/default/files/rajnath-singh.jpg" alt="macOS Yosemite Wallpaper">
    </div>
    <div class="profile-header">
        <div class="profile-title h5">Shri Rajnath Singh</div>
        <div class="profile-designation">Hon'ble Union Mnister</div>
    </div>
    
    <div class="profile-page-link"><a href="">Visit Page</a></div>
    <div class="profile-social-bar">
        <div class="btn-group btn-group-block">
            <a href="" class="btn btn-sm btn-action btn-fb">
                <svg class="feather">
                  <use xlink:href="assets/feather-sprite.svg#facebook"/>
                </svg>
            </a>
            <a href="" class="btn btn-sm btn-action btn-twit">
                <svg class="feather">
                  <use xlink:href="assets/feather-sprite.svg#twitter"/>
                </svg>
            </a>
            <a href="" class="btn btn-sm btn-action btn-youtube">
                <svg class="feather">
                  <use xlink:href="assets/feather-sprite.svg#youtube"/>
                </svg>
            </a>
            
        </div>
    </div>
</div>

