<!-- components/atoms/button.twig -->

<h2 class="title">Basic Button Styles</h2>

<a class="btn">default button</a>
<button class="btn btn-primary">primary button</button>
<button class="btn btn-secondary">secondary button</button>
<button class="btn btn-link">link button</button>


<h2 class="title">Button Sizes</h2>

<button class="btn btn-sm">small button</button>
<button class="btn">default button</button>
<button class="btn btn-lg">large button</button>

<h2 class="title">Button With Icon</h2>

<button class="btn btn-primary"><i class="icon icon-arrow-left"></i> icon left button</button>
<button class="btn btn-secondary">icon right button <i class="icon icon-arrow-right"></i></button>
<button class="btn btn-free"><i class="icon icon-arrow-down"></i> <span>icon top button</span> </button>
<button class="btn btn-free"> <span>icon top button</span><i class="icon icon-arrow-down"></i> </button>

<h2 class="title">Utility Buttons</h2>
<button class="btn btn-sm btn-success"><i class="icon icon-check"></i> success button</button>
<button class="btn btn-sm btn-warning"><i class="icon icon-stop"></i> Warning button</button>
<button class="btn btn-sm btn-error"><i class="icon icon-cross"></i> error button</button>

