<!-- components/atoms/list.twig -->

<h2 class="title">Unordered List</h2> 
<ul>
  <li>list item 1</li>
  <li>list item 2
    <ul>
      <li>list item 2.1</li>
      <li>list item 2.2</li>
      <li>list item 2.3</li>
    </ul>
  </li>
  <li>list item 3</li>
</ul>


<h2 class="title">Ordered List</h2>  
<ol>
  <li>list item 1</li>
  <li>list item 2
    <ol>
      <li>list item 2.1</li>
      <li>list item 2.2</li>
      <li>list item 2.3</li>
    </ol>
  </li>
  <li>list item 3</li>
</ol>


<h2 class="title">Description List</h2>
    
<dl>
  <dt>description list term 1</dt>
  <dd>description list description 1</dd>
  <dt>description list term 2</dt>
  <dd>description list description 2</dd>
  <dt>description list term 3</dt>
  <dd>description list description 3</dd>
</dl>