<!-- components/atoms/Media.twig -->

<figure class="figure">
    <img class="img-responsive rounded" src="http://cmf.gov.in/assets/images/banner01.png" alt="macOS Yosemite Wallpaper">
    <figcaption class="figure-caption text-center">macOS Yosemite wallpaper</figcaption>
</figure>
<div class="nb-6">
    <img src="http://cmf.gov.in/assets/images/banner01.png" class="img-fit-contain" alt="...">
</div>
<div class="nb-6">
    <img src="http://cmf.gov.in/assets/images/banner01.png" class="img-fit-cover" alt="...">
</div>
