<!-- components/atoms/paragraph.twig -->

<h2>Paragraph Heading</h2>
<p>As part of the <strong>Digital India Programme</strong>, it was <mark>envisaged</mark> that a standardized framework be implemented 
for all Government websites. As part of the Digital India Programme, it was envisaged that a standardized 
framework be implemented for all Government websites.</p>

<p>With diversification of ICT landscape, it has become absolutely imperative for <em>Government Websites</em>
(ex: <code><em>Government Websites</em></code>) to 
bring in qualitative and quantitative transformations in wake of changing user expectations. 
As part of the Digital India Programme, it was envisaged that a standardized framework be implemented 
for all Government websites to improve the presentation, re-usability and consistency of these websites. 
<cite>The Content Management Framework</cite> (CMF) project has been initiated with this view of standardization and 
improvement in presentation and content delivery of websites of Government Ministry/Department websites. 
The CMF is currently planned to be rolled out for 100 websites of Central Government Ministries/Departments 
to foster development of citizen centric and universally accessible websites.</p>