/* scss/base/_basestyles.scss */

// Base Colors
$primary-color: #5755d9 !default; 
$secondary-color: #ec611e !default;

// Grey Colors
$dark-color: #454d5d !default; 
$light-color: #fff !default;

// Control colors
$success-color: #32b643 !default;
$warning-color: #ffb700 !default;
$error-color: #ee393d !default;

//Other Colors
$code-color: #d73e48 !default;
$highlight-color: #ffe9b3 !default;

//Base Font Size
$html-font-size: 20px !default;

//Border Style
$border-style: solid;